/*  Notes:
    Make note of additional rules not on redline
      e.g: overall/header width
      What do I have to do to make the Tea of the Month text centre
      so it's vertically aligned with the other two headings?
*/
body {
  font-family: Helvetica, sans-serif;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9;
  box-sizing: border-box;
  text-align: center;
}

header{
  height: 69px;
  border-bottom: 1px solid seashell;
}

#logo {
  height: 50px;
  float: left;
  margin-left: 10px;
}

nav {
  float: right;
}

nav li {
  display:inline-block;
}

nav li a {
  text-decoration: underline;
  color: seashell;
}

#mission {
  background-image: url("../images/img-mission-background.webp");
  height: 700px;
  width: 1200px;
}

/* Tea of the Month Section */
#tea-of-the-month {
  width: 1000px;
}

#t-o-t-m {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.tea {
  height: 250px;
  width: 300px;
  margin: 10px;
  text-align: center;
}

.tea-image {
  height: 200px;
  width: 300px;
}

h2 {
    text-align: center;
}

#locations {
  background-image: url("../images/img-locations-background.webp");
  height: 500px;
}

#locations-container {
  margin-top: 15px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.location {
    background-color:black;
    opacity: 1;
    width: 300px;
    height: 300px;
    margin: 20px;
    line-height: 2;
    font-weight: bold;
    font-size: 20px;
}

h3 {
    font-size: 24px;
    font-weight: bold;
}
#contact {
    height: 200px;
}

#copyright {
    text-align: left;
    margin: 20px;
}
